---
import "../components/minimal-custom-element.js";
---

<html>
    <head><title>Minimal Testpage</title></head>
    <body>
        <h1>Minimal Custom Element Test</h1>

        <minimal-custom-element></minimal-custom-element>
        <minimal-custom-element></minimal-custom-element>
    </body>
</html>
