---
import "../components/slots.js";
---

<html>
    <head><title>Slots Testpage</title></head>
    <body>
        <h1>Slots Test</h1>

        <slots-test>
            <p slot="one">Named Slot Text</p>
            <div slot="two">Named Slot Hierachy:
                <ul>
                    <li>Entry 1</li>
                    <li>Entry 2</li>
                </ul>
            </div>
            Slotted Light Content
        </slots-test>

        <slots-test>
            <p slot="one">Another one</p>
            <p>Unknown data</p>
            <div slot="three">Named Slot Hierachy</div>
            <div slot="">Unnamed</div> 
        </slots-test>


    </body>
</html>
